<html>
    <body>
    <p>To: {{ j.fullName }}, {{ n.name }}</p>
    <p>This email is an automated notification to let you know that a teacher at {{ p.schoolName }} in {{ p.city }} has completed a fundraiser entitled "{{ p.title }}". {{ p.teacher }}, the teacher, said that</p>
    <p><em>{{ p.fulfillmentTrailer }}</em></p>
    <p>To complete this project, the teacher raised ${{ p.money }}. 
    {% if extras.instate %} {{ extras.numInstateDonorsText }} from in-state gave money. {% endif %} 
    {% if extras.outofstate %} {{ extras.numOutstateDonorsText }} from out-of-state gave money. {% endif %} This is the teacher's {{ extras.numTeacherProjectsText }} project on <a href="http://www.donorschoose.org">DonorsChoose</a>, a free micro-philanthropy site for front-line public school educators.</p>
    </p>
    {% for donor in donors %}
        <p>
        {% if donor.anonymous %} An anonymous donor {% else %} {{ donor.name }} {% endif %} from {{ donor.state }} said:
        </p>
        <p>
        <em>{{ donor.text }}</em>
        </p>
    {% endfor %}
    <p>To find out more information, visit <a href="{{ p.url }}">this project</a> on <a href="http://www.donorschoose.org"/>DonorsChoose</a>.
    </body>
</html>
